// color-hex.com/color-palette/57091

$color-white: #ffffff;
$color-red: #f8666b;
$color-red-light: #f0afa7;
$color-orange: #f6caa6;
$color-creme: #f9f9ed;
$color-green-light: #def3f0;
$color-green: #94d9ce;
$color-green-dark: #85c3b9;
$color-gray-light: #bfc7c6;

$fancy-height-related: 56px;
$fancy-width-submit: 150px;
$fancy-height-header: 50px;

$element_h: 36px;
